
.navbar{

   
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 10px #000000;


}
.navbar_title{

    color: rgb(34, 239, 242);
     padding-left: 1rem;
    width: 50%;
   
  
   
}
.left_div{

 
    width: 50%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   }
.left_div button{

    width: 7rem;
    height: 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 2rem;
    border: none;
    background-color: rgb(66, 246, 231);
    color: white;
    font-weight: bold;
    box-shadow: 0 9px #999;
    

}
.left_div button:hover{

    background-color: rgb(9, 240, 220);

}

/* started is InputHabit */



/* css of habitdetails */

.habitdetails-container{

    display: flex;
    width: 90%;
    height: 5rem;
    border: 2px solid lightgray;
    margin: auto;
    align-items: center;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
    align-items: center;

}
.habitdetails-container:hover{

    background-color: #999;
    cursor: pointer;
}
.habitdetails-container-left-div
{
    display: flex;
    width: 50%;
    padding-left: 2rem;
   
}
.habitdetails-container-left-div p{

    text-transform: capitalize;
    font-size:  1.5rem;
    font-weight: bold;
}
.habitdetails-container-right-div{

    display: flex;
    width: 50%;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;

}
.habitdetails-container-right-div .anchertag{

    border: 1px solid gray;
    margin-right: 1rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
   

    
}
.habitdetails-container-right-div .anchertag i{

    color: white;
    font-size: 1rem;


}
.habitdetails-container-right-div .anchertag p{

 
    margin-top: 1rem;
    margin-left: .5rem;
    text-decoration: none;
    color: white;
    
}
.habitdetails-container-right-div .link
{
    text-decoration: none;
}



.trashitam{

    display: flex;
    background-color: gray;
    width: 1.5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: 1.2rem;
    border-radius: .3rem;
    cursor: pointer;
}
/* css of habit details */
.container_habitdetails
{
   display: grid;
grid-template-columns: auto auto auto auto ;
}


.habitdetails_title{


    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   
}
.habitdetails_title p{

  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}
.all_week_days{

    border: 2px solid lightblue;
    display: inline-flex;
    margin: 2rem;
    flex-direction: column;
    width: 15rem;
    border-radius: 1rem;
}
.all_week_days .day{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.all_week_days .date{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
.all_week_days .status{

    display: flex;

   align-items: center;
   justify-content: space-around;


 
}
.all_week_days .status .sign{

    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center  ;
    border: 1px solid lightseagreen;
    border-radius: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    

  
}
.all_week_days .status .sign:hover{

    cursor:pointer;
  
    border: none;
}
